.App {
  text-align: center;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn {
  padding: 20px 40px;
  font-size: 18px;
  color: white;
  background-color: #333;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
